.askHelperLayout {
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;
  background-color: #fdfffc;
}
.overlayHelper {
  background-color: #eff6fd;
  display: flex;
  padding: 6% 2% 2% 25%;
  gap: 3vh;
}

.askHelpMain {
  display: flex;
  flex-direction: column;
  gap: 3em;
  background-color: #eff6fd;
}

.doubtMain {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
