.projectCardOverlay {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
}
.projectMedia {
  height: 30vh;
  width: 40vw;
  object-fit: cover;
}
.projectCardInfo {
  padding: 2vh;
}
.projectCardInfoHead {
  display: flex;
  justify-content: space-between;
}
.projectCardNameType {
  display: flex;
  gap: 1vh;
}
.projectTechStack {
  display: flex;
  justify-content: space-evenly;
  padding: 1vh;
  flex-wrap: wrap;
}
