.ProfileCourseOverlay {
  border: 1px solid black;
  padding: 1em;
  width: 31.5%;
  overflow: scroll;
  height: 10em;
}

.courseHeading {
  display: flex;
  gap: 1em;
  font-family: "Work Sans", sans-serif;
  font-size: 1.4em;
}
