/* Navbar.css */

body {
    margin: 0;
    /* Remove default body margin */
}

nav {
    background-color: #040101;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* Set the width to 100% */
    box-sizing: border-box;
    /* Include padding and border in the total width */
    border: 2px solid white;
    /* White border */
    border-radius: 15px;
    /* Border-radius for circular corners */
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    /* Set the width to 100% */
    box-sizing: border-box;
    /* Include padding and border in the total width */
}

.navbar-brand {
    color: white;
    font-size: 28px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    /* Prevent text from wrapping */
}

.navbarList {
    margin-left: 15px;
}

.navbarList:first-child {
    margin-left: 0;
}

.navbarList a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbarList a:hover {
    color: darkgray;
}